*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    width: 100%;
}

h2, p{
    padding: 10px;
}

header{
    text-align: center;
    padding: 10px;
    background-color: rgb(185, 177, 177);
    width: 100%;
}

.cards-container article{
    width: 100%;
    display: block;
    margin-bottom: 16px;
}

img{
    border: black 1px solid;
    width: 100%;
}

footer{
    width: 100%;
    margin-top: 24px;
    text-align: center;
    background-color: rgb(185, 177, 177);
    padding: 10px;
}

@media (min-width:768px){
    .cards-container article{
        width: 30%;
        display: inline-block;
        margin-right: 3%;
        vertical-align: top;
        padding: 10px;
    }
    article img{
        width: 100%;
        border: black 1px solid;
        margin-top: 10px;
    }
    .intro h2{
        padding-bottom: 16px;
    }
    .intro p{
        padding-bottom: 16px;
    }
}